<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline" style="font-size: 1.5em;">
      <li class="list-inline-item">
        <a href="#">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted"style="font-size: 1.5em;">Copyright &copy; <a href="mailto:HVHC.TDI.Program.Office@Dartmouth.edu."> High Value Healthcare Collaborative</a> | All rights reserved.</p>
  </div>
</footer>
