<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline" style="font-size: 1.90em;">
      <li class="list-inline-item">
        <a href="/pages/home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a>
      </li>
      <!-- <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li> -->
      <li class="list-inline-item">
        <a href="/pages/submission_tracker"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>Submission Tracker</a>
      </li>
    </ul>
    <p class="copyright text-muted"style="font-size: 1.5em;">Copyright &copy; 2017 <a href="mailto:HVHC.TDI.Program.Office@Dartmouth.edu."> High Value Healthcare Collaborative</a> | All rights reserved.</p>
  </div>
</footer>
