<!-- Header -->
<%= render partial: 'partials/navbar' %>
<header class="intro-header">
    <div class="container">
    <div class="intro-message">
      <h1>High Value Health Care Collaborative</h1><br />
      <h4>HVHC is a provider learning network committed to improving <br /> healthcare value through data and collaboration.</h4>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="https://twitter.com/HighValueHealth" target="_blank" class="btn btn-secondary btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/Highvaluehealthcarecollaborative" target="_blank" class="btn btn-secondary btn-lg">
            <i class="fa fa-facebook fa-fw"></i>
            <span class="network-name">Facebook</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
