  <%= render partial: 'partials/page_header' %>
<!-- Page Content -->

<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Founding Members:<br>Special Thanks</h2>
<ul style="font-size: 2em;">
  <li><a href="https://www.dartmouth-hitchcock.org/">Dartmouth Hitchcock  </a></li>
    <li><a href="https://intermountainhealthcare.org/">Intermountain Healthcare  </a></li>
      <li><a href="https://www.mayoclinic.org/">Mayo Clinic  </li>
        <li><a href="http://tdi.dartmouth.edu/">The Dartmouth Institute  </a></li>

</ul>

      </div>
      <div class="col-lg-5 mr-auto">
       <%= image_tag("ipad_shannon.png", :alt =>"ipad image", class:"img-fluid") %>
      </div>
    </div>


  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Collaborative Members</h2>
        <ul style="font-size: 2em;">
          <li><a href="https://www.bswhealth.com/">Baylor Scott & White Health</a></li>
            <li><a href="http://www.bidmc.org/">Beth Israel Deaconess Medical Center</a></li>
              <li><a href="https://www.hawaiipacifichealth.org/">Hawaii Pacific Health</a></li>
              <li><a href="https://www.providence.org/">Providence Health & Services</a></li>
                      <li><a href="https://www.sentara.com/">Sentara Healthcare</a></li>
                      <li><a href="https://health.ucsd.edu/">UC San Diego Health System</a></li>

        </ul>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
          <%= image_tag("tae.png", :alt =>"dog image", class:"img-fluid") %>

      </div>
    </div>

  </div>
  <!-- /.container -->

</section>
