
<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Founding Members:<br>Special Thanks</h2>
<ul  class="list-group" style="font-size: 1.5em;">
  <li class="list-group-item"><a href="https://www.dartmouth-hitchcock.org/">Dartmouth Hitchcock  </a></li>
    <li class="list-group-item"><a href="https://intermountainhealthcare.org/">Intermountain Healthcare  </a></li>
      <li class="list-group-item"><a href="https://www.mayoclinic.org/">Mayo Clinic  </li>
        <li class="list-group-item"><a href="http://tdi.dartmouth.edu/">The Dartmouth Institute  </a></li>

</ul>

      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" <%= image_tag("ipad_shannon.png", :alt =>"ipad image") %>
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Collaborative Members</h2>
        <ul class="list-group" style="font-size: 1.5em;">
          <li class="list-group-item"><a href="https://www.bswhealth.com/">Baylor Scott & White Health</a></li>
            <li class="list-group-item"><a href="http://www.bidmc.org/">Beth Israel Deaconess Medical Center</a></li>
              <li class="list-group-item"><a href="https://www.hawaiipacifichealth.org/">Hawaii Pacific Health</a></li>
              <li class="list-group-item"><a href="https://www.providence.org/">Providence Health & Services</a></li>
                      <li class="list-group-item"><a href="https://www.sentara.com/">Sentara Healthcare</a></li>
                      <li class="list-group-item"><a href="https://health.ucsd.edu/">UC San Diego Health System</a></li>

        </ul>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid"   <%= image_tag("tae.png", :alt =>"dog image") %>

      </div>
    </div>

  </div>
  <!-- /.container -->

</section>



</section>
<!-- /.content-section-a -->

<aside class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-18 my-auto">
      <ul class="list-group">
      <li class="hvhc_list">Measure, innovate, test, and continuously improve value-based care.</li>
      <li class="hvhc_list">Rapidly disseminate and facilitate adoption of proven high value care models across HVHC members and beyond.</li>
      <li class="hvhc_list">Advocate for policy and payment models that support sustainable high value healthcare.</li>

      </div>

    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->


<!-- Bootstrap core JavaScript -->
