
<header class="intro-header-submission">
<div class="logo">
    <p>
    Submission Tracker
    </p>
</div>

    <div class="container">

    <div class="intro-message">
        <hr class="intro-divider">
      <%= image_tag("begin_button.png", :alt =>"Begin Submission Tracker", class:"img-fluid") %>  




    </div>
  </div>
</header>
